* {
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.price {
    list-style-type: none;
    margin: 0;
    padding: 3% 25%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 10px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 0px 8px 2px #3333;
    min-height: 311px;
    text-align: center;
}

    .price:hover {
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
    }

    .price .header {
    font-size: 20px;
    }

    .price li {
     padding: 10px;
    }

.price-box__list{
    text-align: center;
    color: #676767;
    list-style: none;
    padding: 0;
}

    .price .grey {
    font-weight: 800;
    font-size: 31px;
    }

.button {
    background-color: #f37f16;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 33px;
    font-family: fantasy;
    box-shadow: 6px 4px #eaeaea;
}

    .button:hover {
        color: #fff;
    }

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
